@charset "utf-8";
/*
 *除去默认的属性
 */
blockquote, 
body, 
button, 
dd, 
dl, 
dt, 
fieldset, 
form, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
hr, 
input, 
legend, 
li, 
ol, 
p, 
pre, 
td, 
textarea, 
th, 
ul,
img{
	margin: 0;
	padding: 0;
}

html{
	font-size:62.5%;
}
body{
	font: 120%/150% helvetica arial sans-serif;
}

