@charset "utf-8";

html{
	font-size: 62.5%;
}
body{
	font-size: 120%/150%;
	font-family: "Helvetica Neue",helvetica,arial,sans-serif;
}
*{		
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
img,
h1{
	margin: 0;
	padding: 0;
}

@height:4rem;
@width:100%;
@color-red:#ff0000;
@color-green:#005398;
@font-size:1.4rem;

nav{
	width: @width;
	height: @height;
	background-color: @color-red;
	text-align: center;
}
h1{
	font-size: @font-size;
	padding: 1rem;
}
p{
	font-size: 12px;
	padding: 0.5rem;
}

footer{
	width: @width;
	height: @height;
}



