/*
 * dukegod 
 * app reset
 */
@charset "utf-8";
html {
  -webkit-overflow-scrolling: touch; 
  -webkit-text-size-adjust: 100%;
}
body,
h1,h2,h3,h4,h5,h6,
p,dl,dd,pre,form,
input,textarea,th,td,select {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-indent: 0;
}
a,button,input,textarea,select {
  -webkit-tap-highlight-color: rgba(0,0,0,0); // 去除高亮的阴影效果
  outline: none;
  -webkit-appearance: none; 
}
em {
  font-style: normal
}
img {
  border: none;
  vertical-align: top;
}
table {
  border-collapse: collapse;
}
textarea {
  resize: none;
  overflow: auto;
}

/* end reset */
