@import "../styles/index";

@mixin border {
  border: 2px solid #000000;
}
.m-top {
  margin-top: 20px;
}

$baseFont: 16;
// 头部导航框
.top{
  height: 80rem/$baseFont;
  @include border;
}
// 中间地址栏目
.short-cut {
  height: 30rem/$baseFont;
  background-color: #dddddd;
  @include border;
}

header {
  //height: 150px;
  //display: flex;
  position: relative;
  //justify-content: center;
  //background-color: $red;
  padding-top: 30rem/$baseFont;
  //text-align: center;
  .search {
    width: 300rem/$baseFont;
    height: 30rem/$baseFont;
    margin: 0 auto;
    //margin: 30rem/$baseFont auto 0;
    @include border;
  }
  nav{
    width: calc(100% - 3rem);
    height: 58rem/$baseFont;
    margin: 30rem/$baseFont auto 0;
    @include border;
  }
  .jd-logo {
    width: 150rem/$baseFont;
    height: 150rem/$baseFont;
    @include border;
    position: absolute;
    top: 0;
    left: 0;
    img {
      width: 100%;
    }
  }
}

main {
  height: 6rem;
  display: flex;
}

aside {
  flex: 0 0 200rem/$baseFont;
  background-color: $grey;
}

section {
  flex: 0 0 calc(100% - 4rem);
  background-color: $grey;
}

ul {
  height: 400/$baseFont;
}

article {
  width: 100vw;
  height: calc(100% - 2rem);
  border: 1px solid #000000;
  background-color: $grey;
}

@media only screen and (min-width: 576px) {
  aside {
    flex: 0 0 200/$baseFont;
    background-color: $grey;
  }

  section {
    flex: 0 0 100%;
    background-color: $grey;
  }
}

@media only screen and (min-width: 768px) {
  aside[class="right"] {
    display: none;
    flex: 0 0 200/$baseFont;
    background-color: #543624;
  }

  section {
    flex: 0 0 calc(100% - 4rem);
    background-color: $grey;
  }
}

@media only screen and (min-width: 992px) {
  aside[class="left"] {
    flex: 0 0 200/$baseFont;
    background-color: #2b542c;
  }
  aside[class="right"] {
    display: none;
    flex: 0 0 200/$baseFont;
    background-color: #543624;
  }
  section {
    flex: 0 0 calc(100% - 4rem);
    background-color: $grey;
  }
}

@media only screen and (min-width: 1200px) {
  aside {
    flex: 0 0 200/$baseFont;
    background-color: #2b542c;
  }

  section {
    flex: 0 0 calc(100% - 4rem);
    background-color: $grey;
  }
}
