* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 0.37333333rem;
}
.part-300 {
  width: 4rem;
  height: 4rem;
  background-color: blue;
}
.part-full {
  width: 10rem;
  height: 1rem;
  background-color: red;
}
.part-100 {
  width: 1.33333333rem;
  height: 0.66666667rem;
  background-color: green;
}
.part-200 {
  width: 2.66666667rem;
  height: 0.66666667rem;
  background-color: yellowgreen;
}
