/**
 * "off" or 0 - turn the rule off
 * "warn" or 1 - turn the rule on as a warning (doesn’t affect exit code)
 * "error" or 2 - turn the rule on as an error (exit code is 1 when triggered)
 */
{
  "env": {
    "browser": true,
    "node": true,
    "es6": false
  },
  "rules": {

  },
  "globals": {
  },
  /* 控制import的顺序 */
  "sort-imports": ["error", {
    "ignoreCase": false,
    "ignoreMemberSort": false,
    "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
  }],
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "airbnb",
  "installedESLint": true,
  "plugins": ["react"]
}
