@charset "utf-8";

@at-root {
    @-ms-viewport {
        width: device-width;
    }
}

html {
    font-size: 14px;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
ul,
li,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
