/**
 * Created by hui on 16/3/20.
 * work well
 */
body {
  background-color: #e3e3e3;
  font-size: 14px;
}
#container {
  margin-top: 20px;
  padding: 0 20px;
}
#container ul {
  margin: 0;
  padding: 0;
}
#container li {
  list-style: none;
}
#container li .lisub {
  padding: 15px 10px;
  font-size: 16px;
}
#second {
  margin-top: 50px;
}
#second .hthird {
  font-size: 14px;
  color: red;
  width: 200px;
  height: auto;
  position: relative;
}
#second .hthird:before {
  position: absolute;
  top: -20px;
  left: 0px;
  font-size: 16px;
  color: green;
  width: 200px;
  height: 20px;
  background-color: white;
  content: 'in the front of you';
}
#second .hthird:after {
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 18px;
  color: blue;
  width: 200px;
  height: 20px;
  background-color: #f5f5f5;
  content: 'in the back of you';
}
#second p {
  height: 100px;
  background-color: #2b2d2f;
}
