/**
  * 变量控制
 */

$baseFont: 16px;

// regular color
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$grey: #eeeeee;

// info
$error: #000000;
$warn: #cbbd28;
$success: #2185d0;

//border color
$border-color: #dddddd;
$border-shadow-color: #ededed;
